<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>Timetable doctors</title>
    <style>
        <!-- -->
    </style>
</head>
<body>
    <div id="headDivTimetable">
        <h1>Timetable doctors</h1>
        <p style="cursor: pointer;" id="forMonth">For a month</p>
        <p style="cursor: pointer;" id="byDay">By days</p>
        <p style="cursor: pointer;" id="byLastName">By last name</p>
    </div>
</body>
</html>