<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">-->
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <title>Started page</title>
  <style>
    .container {
      display: flex;
      flex-direction: row;
    }
    .left {
      height: 400px;
      display: block;
      width: 50%;
    }
    .right {
      height: 400px;
      display: block;
      width: 50%;
    }
  </style>
</head>
<body>

<!--<script src="../JS/tableConst.js"></script>-->
<!--<script type="text/javascript" th:src="@{/js/tableConst.js}"></script>-->
<script type="text/javascript" src="/tableConst.js"></script>

<p id="style"></p>

<div class="container">
  <div class="left">
    <h1>Registration</h1>
    <form th:action="@{/registration}" th:object="${patient1}" method="post">
      <!--<p>Id: <input type="text" th:field="*{id}" /></p>-->
      <p>First name:      <input type="text" th:field="*{firstName}" /></p>
      <p>Last name:       <input type="text" th:field="*{lastName}" /></p>
      <p>Passport serial: <input type="number" th:field="*{passportSerial}" /></p>
      <p>Mail:            <input type="text" th:field="*{mail}" /></p>
      <p>Date of visit:   <input type="date" id="date" required/></p>
      <!--<p>Date of visit:   <input type="date" th:field="*{monthDay}" />-->
      <p>Doctor special.: <input type="text" th:field="*{doctorSpetialisation}" /></p>
      <p>To which doctor: <input type="text" th:field="*{toWhichDoctor}" /></p>
      <!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
      <!--<p><input type="" value="Next" /></p>-->
      <p><input type="reset" value="Reset" /></p>
    </form>
    <p>
      <button onclick="setDateTime(document.getElementById('date'));">Next</button>
</p>
  </div>

  <div class="right">
    <h1>Timing of reception </h1>
    <p id="content"></p>
  </div>
</div>
</body>
</html>