<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">-->
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <title>Started page</title>
  <style>
    .container {
      display: flex;
      flex-direction: row;
    }
    .left {
      height: 400px;
      display: block;
      width: 50%;
    }
    .right {
      height: 400px;
      display: block;
      width: 50%;
    }
  </style>
</head>
<body>

<script type="text/javascript" src="/tableConst.js"></script>

<p id="style"></p>

<div class="container">
  <div class="left">
    <h1>Registration</h1>
    <form th:action="@{/registration}" th:object="${patientForm}" method="post">

      <p>First name:      <input type="text" th:field="*{firstName}" /></p>
      <p>Last name:       <input type="text" th:field="*{lastName}" /></p>
      <p>Passport serial: <input type="number" th:field="*{passportSerial}" /></p>
      <p>Mail:            <input type="text" th:field="*{mail}" /></p>
      <p>Date of visit:   <input type="date" id="date" required/></p>
      <p>Doctor special.: <input type="text" th:field="*{doctorSpetialisation}" /></p>
      <p>To which doctor: <input type="text" th:field="*{toWhichDoctor}" /></p>
      <p id="dayTime" type="date" th:field="*{dateOfVisit}" ></p>
      <p>
        <button type="submit" id="submit" disabled value="Submit">Submit</button>
        <button type="reset" id="reset" onclick="oneClickSetAttr();" value="Reset">Reset</button>
        <button type="button" id="nextButton" onclick="setDateTime(document.getElementById('date'));">Next</button>
      </p>
    </form>
  </div>

  <div class="right">
    <h1>Timing of reception </h1>
    <p id="content"></p>
  </div>

</div>
</body>
</html>