<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Timetable doctors</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/home}" role="button">Homepage</a>
    <ul class="navbar-nav">
        <span class="navbar-text">Search:</span>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/doctorNameTimetable}" role="button">By Last Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/doctorMonthTimetable}">For a Month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/doctorTimetable}">Back to Schedule</a>
        </li>
    </ul>
</nav>
<div class="container">
    <form class="form-inline justify-content-center m-3" th:action="@{/doctorDayTimetable}" method="post">
        <div class="form-row align-items-center">
            <input type="date" class="form-control" id="date" name="dateInput" placeholder="Date" onChange="this.form.submit()" required>
        </div>
    </form>
    <p class="row justify-content-center">Select the month for which you want to see the schedule.</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Last name</th>
            <th>First name</th>
            <th>Specialization</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctorInfo : ${doctorTimetable}">
            <td th:text="${doctorInfo.get('date')}"></td>
            <td th:text="${doctorInfo.get('last_name')}"></td>
            <td th:text="${doctorInfo.get('first_name')}"></td>
            <td th:text="${doctorInfo.get('specialization')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!----><!--
<link rel="stylesheet" href="daterangepicker/daterangepicker.css">
<script src="daterangepicker/moment.js"></script>
<script src="daterangepicker/daterangepicker.js"></script>
<script>
    $(function(){
        $('#date').daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'DD.MM.YYYY'
            }
        });
    });
</script>-->
<!---->

</body>
</html>